.icon-flags {
    width: 18px; /* ajusta el tamaño según tus necesidades */
    height: 18px; /* ajusta el tamaño según tus necesidades */
    margin-right: 8px; /* ajusta el margen derecho según tus necesidades */
    /* Otros estilos que desees agregar */
  }